## Ques 1. Write a Python program to remove duplicates from a list.¶

In [60]:
my_list = [1, 2, 3, 1, 2, 4, 5, 4 ,6, 2]
list2=set(my_list)
print("List After removing duplicates ", list2)

List After removing duplicates  {1, 2, 3, 4, 5, 6}

## Ques 2. Write a Python program to combine two dictionary adding values for common keys
d1 = {'a': 100, 'b': 200, 'c':300}¶
d2 = {'a': 300, 'b': 200, 'd':400}¶
Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})¶

In [2]:
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d = Counter(d1) + Counter(d2)
print(d)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

## Ques 3.Write a Python program to convert a tuple to a string

In [61]:
tup1 = ('m','i','t','e','s','h')

# Use str.join() to convert tuple to string.
str = ''.join(tup1)
print (str)

mitesh

## Ques 4.Write a Python program to remove item(s) from set

In [63]:
theset = {"mitesh", "sagar", "vikash"}

theset.remove("vikash")

print(theset)

{'sagar', 'mitesh'}

## Ques 5. Write a Python program to create a symmetric difference

In [6]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
C = {}

print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

print(A.symmetric_difference(C))
print(B.symmetric_difference(C))

{'a', 'b', 'e'}
{'a', 'b', 'e'}
{'b', 'c', 'd', 'a'}
{'c', 'd', 'e'}

## Ques 6.Write a Python program to construct the following pattern, using a nested for loop.

In [66]:
for i in range(10):
    print("*")
    for j in range(2):
        print("  ")

*


*


*


*


*


*


*


*


*


*

## Ques 7. Write a Python program to get the Fibonacci series between 0 to 50.

In [67]:
def fibonacci():
    i=0
    j=1
    n=50
    print(i)
    print(j)
    for x in range(1,n):
        k=i+j
        i=j
        j=k
        if(j<50):
            print(j,"")

In [68]:
fibonacci()

0
1
1
2
3
5
8
13
21
34